---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 270px;
	height: 100%;
	overflow: scroll;
	border-right: 1px solid #CCC;
}

.sidebar-title {
	display: block;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.navigation {
	
}

.navigation a {
	display: block;
	padding: 10px;
	font-size: 1.4rem;
	color: #434a54;
}

.navigation a.active {
	color: #05bed5;
}

.main {
	padding-left: 270px;
}

.header {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #05BED5;
}

.header h1,
.header p {
	color: #FFF;
}

.content {
	padding-top: 50px;
	padding-bottom: 50px;
}

.content h2 {
	padding-bottom: 5px;
	border-bottom: 1px solid #CCC;
}

.content h3 {

}

.footer {
	text-align: center;
	background: #EEE;
}